.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    background: #C6C6C6;
    border-radius: 30px;
}

.btnWrapper {
    border-top: 5px solid #5F645F;
    border-left: 5px solid #5F645F;
    border-bottom: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 70px;
    border-top: 2px solid #121212;
    border-left: 1px solid #121212;
    border-bottom: 2px solid #121212;
    border-right: 1px solid #121212;
    background-image: linear-gradient(to bottom, #fff 25%, #C6C6C6 25%, #C6C6C6 75%, #5F645F 75%);
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        background: linear-gradient(180deg, #515354 0%, #404142 100%);
        box-shadow: inset 0px 2.68313px 4.02469px rgba(0, 0, 0, 0.5);
    }

    &.active {
        background: linear-gradient(180deg, #2C2E2F 0%, #404142 100%);
        box-shadow: inset 0px 2.68313px 4.02469px rgba(0, 0, 0, 0.5);
    }

    &:last-child {
        .icon {
            transform: rotate(180deg);
        }
    }
}

.icon {
    width: 30px;
    height: 30px;
}

@media screen and (max-width:600px) {
    .container {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width:480px) {
    .container {
        padding: 10px;
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        border-radius: 0;
    }

    .btnWrapper {
        margin-top: auto;
    }
}