.box {
    width: 500px;
}

.range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    background-repeat: no-repeat;
    cursor: pointer;

    &.empty::-webkit-slider-thumb {
        background: #121212;
        border: none;
    }

    &.empty::-moz-range-thumb {
        background: #121212;
        border: none;
    }
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 5px;
    background: #0000FF;
    cursor: pointer;
    border: none;
    box-shadow: none;
}

.range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 5px;
    background: #0000FF;
    cursor: pointer;
    border: none;
    box-shadow: none;
}

.range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}